
<div class="text-center">

  <div class="my-5 sample01_wp">
    <h1 class="sample01">有吉<br>&nbsp;&nbsp;反省会</h1>
    <p>on&nbsp;Web</p>
  </div>
  
  <div class="row w-70 ">
    <div class="col">
      <%= button_to 'Twiterログインして反省してみる', auth_at_provider_path(provider: :twitter), method: :get, type: 'button', class: 'btn btn-outline-primary btn-lg'%>
    </div>
    <div class="col">
      <%= button_to 'ゲストとして反省してみる', '/guest_login', method: :post, type: 'button', class: 'btn btn-outline-secondary btn-lg'%>
    </div>
  </div>

</div>
