<div class='w-75 p-3 mx-5 d-flex flex-column bd-highlight'>

  <h1>マイページ</h1>
  　<%# binding.pry %>
    <span class='h4'>お名前：<%= @user.name %>様</span>
    <span class='h4'>id：<%= @user.twitter_id %>様</span>

    <%= link_to '自分の反省文へ', root_path, class: 'h4' %>



</div>
