<div class='w-75 p-3 mx-5 d-flex flex-column bd-highlight'>

  <h1>反省文投稿</h1>

    <%= form_with model: @post, url: posts_path do |form| %>
      <%= form.text_area :content, class: 'form-controll p-2 bd-highlight w-50', id: 'exampleFormControlTextarea1', rows: '5' %>

      <%= form.submit "提出する", class: 'btn btn-primary btn-lg p-2 bd-highlight' %>
    <% end %>
</div>
