// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

div[id^="post"] { 
  background-color: rgb(196, 196, 196); 
  margin: 5px 0;
  border: 2px solid;
  border-color: black;
  border-radius: 3ch;
}

// #post-id-78 {
//  background-color:rgb(196, 196, 196);
// }  